WPF.Common.Styles/bin/Debug/Resource/SVGImages/Dialog/popup_upload icon.svg
WPF.Common.Styles/bin/Debug/Resource/SVGImages/Dialog/popup_update icon.svg
WPF.Common.Styles/bin/Debug/Resource/SVGImages/Dialog/popup_question icon.svg
WPF.Common.Styles/bin/Debug/Resource/SVGImages/Dialog/popup_exit icon.svg
WPF.Common.Styles/bin/Debug/Resource/SVGImages/Dialog/popup_delete icon.svg
WPF.Common.Styles/bin/Debug/Resource/SVGImages/Dialog/popup_copy icon.svg
WPF.Common.Styles/bin/Debug/Resource/SVGImages/Dialog/popup_complete icon.svg
WPF.Common.Styles/bin/Debug/Resource/SVGImages/Dialog/popup_alter icon.svg
WPF.Common.Styles/bin/Debug/Resource/SVGImages/Dialog/error_alert.svg
WPF.Common.Styles/bin/Debug/Svg.xml
WPF.Common.Styles/bin/Debug/Newtonsoft.Json.xml
WPF.Common.Service/obj/Debug/WPF.Common.Service.csproj.FileListAbsolute.txt
WPF.Common.Service/obj/Debug/WPF.Common.Service.csproj.CopyComplete
WPF.Common.Service/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
WPF.Common.Service/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
WPF.Common.Service/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
WPF.Common.Service/bin/Debug/Svg.xml
WPF.Common.Service/bin/Debug/Newtonsoft.Json.xml
WPF.Common.Styles/obj/Debug/WPF.Common.Styles_MarkupCompile.lref
WPF.Common.Styles/obj/Debug/WPF.Common.Styles_MarkupCompile.i.lref
WPF.Common.Styles/obj/Debug/WPF.Common.Styles.Properties.Resources.resources
WPF.Common.Styles/obj/Debug/WPF.Common.Styles.g.resources
WPF.Common.Styles/obj/Debug/WPF.Common.Styles.csproj.FileListAbsolute.txt
WPF.Common.Styles/obj/Debug/WPF.Common.Styles.csproj.CopyComplete
WPF.Common.Styles/obj/Debug/UserControl1.g.i.cs
WPF.Common.Styles/obj/Debug/ToolTipDict.baml
WPF.Common.Styles/obj/Debug/TextBoxDict.baml
WPF.Common.Styles/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
WPF.Common.Styles/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
WPF.Common.Styles/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
WPF.Common.Styles/obj/Debug/ResourceDict.baml
WPF.Common.Styles/obj/Debug/ListViewDict.baml
WPF.Common.Styles/obj/Debug/GeneratedInternalTypeHelper.g.i.cs
WPF.Common.Styles/obj/Debug/GeneratedInternalTypeHelper.g.cs
WPF.Common.Styles/obj/Debug/DefaultTheme.baml
WPF.Common.Styles/obj/Debug/DataGridDict.baml
WPF.Common.Styles/obj/Debug/ComboBoxDict.baml
WPF.Common.Styles/obj/Debug/ButtonDict.baml
WPF.Common.Styles/obj/Debug/BorderDict.baml
WPF.Common.Ctrls/obj/Debug/Loading/LoadingCtrl.g.i.cs
WPF.Common.Ctrls/obj/Debug/Loading/LoadingCtrl.g.cs
WPF.Common.Ctrls/obj/Debug/Loading/LoadingCtrl.baml
WPF.Common.Ctrls/obj/Debug/Loading/LoadingContent.g.i.cs
WPF.Common.Ctrls/obj/Debug/Loading/LoadingContent.g.cs
WPF.Common.Ctrls/obj/Debug/Loading/LoadingContent.baml
WPF.Common.Ctrls/obj/Debug/Dialog/TwinBtnDialog.g.i.cs
WPF.Common.Ctrls/obj/Debug/Dialog/TwinBtnDialog.g.cs
WPF.Common.Ctrls/obj/Debug/Dialog/TwinBtnDialog.baml
WPF.Common.Ctrls/obj/Debug/Dialog/SingleBtnDialog.g.i.cs
WPF.Common.Ctrls/obj/Debug/Dialog/SingleBtnDialog.g.cs
WPF.Common.Ctrls/obj/Debug/Dialog/SingleBtnDialog.baml
WPF.Common.Ctrls/obj/Debug/WPF.Common.Ctrls_MarkupCompile.lref
WPF.Common.Ctrls/obj/Debug/WPF.Common.Ctrls.Properties.Resources.resources
WPF.Common.Ctrls/obj/Debug/WPF.Common.Ctrls.g.resources
WPF.Common.Ctrls/obj/Debug/WPF.Common.Ctrls.csproj.FileListAbsolute.txt
WPF.Common.Ctrls/obj/Debug/WPF.Common.Ctrls.csproj.CopyComplete
WPF.Common.Ctrls/obj/Debug/UserControl1.g.i.cs
WPF.Common.Ctrls/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
WPF.Common.Ctrls/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
WPF.Common.Ctrls/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
WPF.Common.Ctrls/obj/Debug/StylesWrap.baml
WPF.Common.Ctrls/obj/Debug/GeneratedInternalTypeHelper.g.i.cs
WPF.Common.Ctrls/obj/Debug/GeneratedInternalTypeHelper.g.cs
WPF.Common.Ctrls/bin/Debug/Resource/SVGImages/Dialog/popup_upload icon.svg
WPF.Common.Ctrls/bin/Debug/Resource/SVGImages/Dialog/popup_update icon.svg
WPF.Common.Ctrls/bin/Debug/Resource/SVGImages/Dialog/popup_question icon.svg
WPF.Common.Ctrls/bin/Debug/Resource/SVGImages/Dialog/popup_exit icon.svg
WPF.Common.Ctrls/bin/Debug/Resource/SVGImages/Dialog/popup_delete icon.svg
WPF.Common.Ctrls/bin/Debug/Resource/SVGImages/Dialog/popup_copy icon.svg
WPF.Common.Ctrls/bin/Debug/Resource/SVGImages/Dialog/popup_complete icon.svg
WPF.Common.Ctrls/bin/Debug/Resource/SVGImages/Dialog/popup_alter icon.svg
WPF.Common.Ctrls/bin/Debug/Resource/SVGImages/Dialog/error_alert.svg
WPF.Common.Ctrls/bin/Debug/Svg.xml
WPF.Common.Ctrls/bin/Debug/Newtonsoft.Json.xml
WPF.Common.Ctrls/bin/Debug/MaterialDesignThemes.Wpf.xml
WPF.Common.Ctrls/bin/Debug/MahApps.Metro.xml
WPF.Common.Demo/obj/Debug/WPF.Common.Demo_MarkupCompile.lref
WPF.Common.Demo/obj/Debug/WPF.Common.Demo_MarkupCompile.i.lref
WPF.Common.Demo/obj/Debug/WPF.Common.Demo.Properties.Resources.resources
WPF.Common.Demo/obj/Debug/WPF.Common.Demo.g.resources
WPF.Common.Demo/obj/Debug/WPF.Common.Demo.csproj.FileListAbsolute.txt
WPF.Common.Demo/obj/Debug/WPF.Common.Demo.csproj.CopyComplete
WPF.Common.Demo/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
WPF.Common.Demo/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
WPF.Common.Demo/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
WPF.Common.Demo/obj/Debug/MainWindow.g.i.cs
WPF.Common.Demo/obj/Debug/MainWindow.g.cs
WPF.Common.Demo/obj/Debug/MainWindow.baml
WPF.Common.Demo/obj/Debug/GeneratedInternalTypeHelper.g.i.cs
WPF.Common.Demo/obj/Debug/CustomLoading.g.i.cs
WPF.Common.Demo/obj/Debug/CustomLoading.g.cs
WPF.Common.Demo/obj/Debug/CustomLoading.baml
WPF.Common.Demo/obj/Debug/App.g.i.cs
WPF.Common.Demo/obj/Debug/App.g.cs
WPF.Common.Demo/obj/Debug/App.baml
WPF.Common.Demo/bin/Debug/Resource/SVGImages/Dialog/popup_upload icon.svg
WPF.Common.Demo/bin/Debug/Resource/SVGImages/Dialog/popup_update icon.svg
WPF.Common.Demo/bin/Debug/Resource/SVGImages/Dialog/popup_question icon.svg
WPF.Common.Demo/bin/Debug/Resource/SVGImages/Dialog/popup_exit icon.svg
WPF.Common.Demo/bin/Debug/Resource/SVGImages/Dialog/popup_delete icon.svg
WPF.Common.Demo/bin/Debug/Resource/SVGImages/Dialog/popup_copy icon.svg
WPF.Common.Demo/bin/Debug/Resource/SVGImages/Dialog/popup_complete icon.svg
WPF.Common.Demo/bin/Debug/Resource/SVGImages/Dialog/popup_alter icon.svg
WPF.Common.Demo/bin/Debug/Resource/SVGImages/Dialog/error_alert.svg
WPF.Common.Demo/bin/Debug/WPF.Common.Demo.exe.config
WPF.Common.Demo/bin/Debug/Svg.xml
WPF.Common.Demo/bin/Debug/Newtonsoft.Json.xml
WPF.Common.Demo/bin/Debug/MaterialDesignThemes.Wpf.xml
WPF.Common.Demo/bin/Debug/MahApps.Metro.xml
/WPF.Common.Ctrls/obj
/WPF.Common.Ctrls/bin
/WPF.Common.Demo/obj
/WPF.Common.Demo/bin
/WPF.Common.Service/obj
/WPF.Common.Service/bin
/WPF.Common.Styles/obj
/WPF.Common.Styles/bin
/WPF.Common.Styles/Resource/Fonts
/packages
/.vs
